# Energy saved from recycling in Singapore
<p>Recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government shared the total energy that the combined recycling efforts have saved every year. In this note we will work on finding the energy saved every year from 2015 to 2019 form the main recycled types.
<p>We have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [2]:
# Reading files 
import pandas as pd 
df1 = pd.read_csv('wastestats.csv')
df2 = pd.read_csv('2018_2019_waste.csv')
df3= pd.read_csv('energy_saved.csv')

In [3]:
df1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [4]:
df2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [5]:
df3

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

## Finding the energy saved every year from 2015 to 2019 form the main recycled types. 
#### df 1 and df2 hava somae typos, lets first deal with them.

In [6]:
# Lowering all letter cases 
df1= df1[df1['year']>=2015]
df1['waste_type'] = df1['waste_type'].str.lower()
df2['Waste Type'] = df2['Waste Type'].str.lower()

# Finding the unique values in df1
df1['waste_type'].unique()

array(['food', 'paper/cardboard', 'plastics', 'c&d',
       'horticultural waste', 'wood', 'ferrous metal',
       'non-ferrous metal', 'used slag', 'ash & sludge', 'glass',
       'textile/leather', 'scrap tyres',
       'others (stones, ceramics & rubber etc.)', 'total',
       'others (stones, ceramics & rubber etc)', 'construction debris',
       'non-ferrous metals', 'ash and sludge', 'plastic',
       'others (stones, ceramic, rubber, etc.)'], dtype=object)

In [7]:
# Finding the unique values in df2
df2['Waste Type'].unique()

array(['construction& demolition', 'ferrous metal', 'paper/cardboard',
       'plastics', 'food', 'wood', 'horticultural', 'ash & sludge',
       'textile/leather', 'used slag', 'non-ferrous metal', 'glass',
       'scrap tyres', 'others (stones, ceramic, rubber, ect)', 'overall'],
      dtype=object)

In [8]:
# Mapping typos in df1 and df2
mapping = {'plastics':'plastic','non-ferrous metals':'non-ferrous metal'}
df1['waste_type'] = df1['waste_type'].replace(mapping)
df2['Waste Type'] = df2['Waste Type'].replace(mapping)

# filtering the main recyled types 
categories= ['glass', 'plastic','ferrous metal','non-ferrous metal']
df1= df1[df1['waste_type'].isin(categories)]
df2= df2[df2['Waste Type'].isin(categories)]

In [9]:
df1['waste_type'].unique() #checking

array(['plastic', 'ferrous metal', 'non-ferrous metal', 'glass'],
      dtype=object)

In [10]:
df2['Waste Type'].unique() #checking

array(['ferrous metal', 'plastic', 'non-ferrous metal', 'glass'],
      dtype=object)

In [13]:
# Dropping the NaN of df3
df3 = df3.dropna()
df3 = pd.DataFrame({'material':categories, 'energy_saved':[42,5774,642,14000]})
df3 #checking

            material  energy_saved
0              glass            42
1            plastic          5774
2      ferrous metal           642
3  non-ferrous metal         14000

In [14]:
# Adding the new colum: 'total_energy_saved' to df1 
for waste_type in categories: 
    for index, row in df1.iterrows():
        if row['waste_type'] == waste_type:
            df1.loc[index, "total_energy_saved"] = row['total_waste_recycled_tonne']*df3[df3['material']==waste_type]['energy_saved'].values     

# Adding the new colum: 'total_energy_saved' to df2            
columns= ['waste_type','total_waste_generated_tonne','total_waste_recycled_tonne','year']
df2.columns = columns 
df2['total_waste_generated_tonne'] = df2['total_waste_generated_tonne']*1000
df2['total_waste_recycled_tonne'] = df2['total_waste_recycled_tonne']*1000
for waste_type in categories: 
    for index, row in df2.iterrows():
        if row['waste_type'] == waste_type:
            df2.loc[index, "total_energy_saved"] = row['total_waste_recycled_tonne']*df3.loc[df3['material']==waste_type,'energy_saved'].values

In [15]:
# Creating the annual_energy_savings from df1
annual_energy_savings1= df1[['year','total_energy_saved']].sort_values(by='year') #cheking 

# Creating the annual_energy_savings from df2
annual_energy_savings2= df2[['year','total_energy_saved']].sort_values(by='year') #cheking 

# Creating the annual_energy_savings DataFrame
annual_energy_savings = pd.concat([annual_energy_savings1,annual_energy_savings2],ignore_index=True).set_index('year')
annual_energy_savings = annual_energy_savings.groupby('year').sum()
annual_energy_savings

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09